<footer class="footer-container">
  <div class="table">
  <div class="footer-row">
      <a class="footer-link" routerLink="../trips">Home</a>
    </div>
    <br>
    <div class="footer-row">
      <a class="footer-link" routerLink="../contact">Contact Us</a>
    </div>
    <br>
    <div class="footer-row">
      <a class="footer-link" routerLink="../faq">FAQ</a>
    </div>
    <br>
    <div class="footer-row">
      <a class="footer-link" routerLink="../terms">Terms And Conditions</a>
     </div>
  </div>
</footer>
